body {
    background-color:rgb(209, 209, 94);
    text-align:center;
}
h1{
    color:darkblue;
    text-align: center;
}
h2{
    color:rgb(4, 22, 41);
}
.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
p{
    color:rgb(18, 18, 91);
    text-align:center;
}
hr{
    width:70%;
    background-color:blue;
}
.start-quiz{
    appearance:button;
    color:rgb(5, 23, 54);
    size:0cap;
    padding: 0.2em 0.4em;
    text-align:center;
}
.next-button{
    appearance:button;
    color:rgb(5, 23, 54);
    size:0cap;
    padding: 0.2em 0.4em;
    text-align:center;
}
.return-home{
    appearance:button;
    color:rgb(5, 23, 54);
    size:0cap;
    padding: 0.2em 0.4em;
    text-align:center;
}
.tips{
    appearance:button;
    color:rgb(5, 23, 54);
    size:0cap;
    padding: 0.2em 0.4em;
    text-align:center;
}
form{
    display:inline-block;
}
.quiz,
.choices{
    list-style-type: none;
    padding:0;
}
.choices li{
    margin-bottom:5px;
    text-align: center;
    color: darkblue;
}
.choices label, input[type="radio"]{
    cursor:pointer;
}
input[type="radio"]{
    margin-right:8px;
}